mixin sidebar
    ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='index.php')
            .sidebar-brand-icon
                i.fa-solid.fa-lock(aria-hidden='true')
            .mx-3 SosPass
        hr.sidebar-divider.my-0
        +sidebar-item("/", "fa fa-search", "See passwords")
        +sidebar-item("/profile", "fa-solid fa-user", "Manage profile")
        +sidebar-item("/add-password", "fa-solid fa-plus", "Add password")
        li.nav-item.mx-auto.mt-auto.mb-5
            +form("delete", "/login")
                +button-small-form("Logout", "fa fa-sign-out", "btn-danger", "submit")

mixin nav
    nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.sticky-top.shadow
        ul.navbar-nav.ml-auto
            li.nav-item.dropdown.no-arrow.d-sm-none
            .topbar-divider.d-none.d-sm-block
            li.nav-item.dropdown.no-arrow
                a.nav-link.dropdown-toggle(href='profile' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    span.mr-2.d-none.d-lg-inline.text-gray-600.small= username
                    img.img-profile.rounded-circle(src='/assets/images/undraw_profile.svg')

mixin footer
    footer.sticky-footer.bg-white
        .container.my-auto
            .copyright.text-center.my-auto
                span Copyright &copy; Antoine Guérin 2022

mixin sidebar-item(link, icon, name)
    - status = (link === location) ? "active" :  "";
    li.nav-item(class= status)
        a.nav-link(href=link)
            i(aria-hidden='true', class=icon)
            span= name

    hr.sidebar-divider.my-0