mixin sidebar
    ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='index.php')
            .sidebar-brand-icon
                i.fa-solid.fa-lock(aria-hidden='true')
            .mx-3 Sospass
        hr.sidebar-divider.my-0
        li.nav-item.active
            a.nav-link(href='index.php')
                i.fa.fa-search(aria-hidden='true')
                span Browse Polls
        hr.sidebar-divider.my-0
        li.nav-item.mx-auto.mt-auto.mb-5
            a.d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm(href='logout.php')
                i.fa.fa-sign-out(aria-hidden='true')
                |  Logout