extends header

block body
    #wrapper.vh-100
        +sidebar
        #content-wrapper.d-flex.flex-column
            #content
                +nav
                .container-fluid
                    block content
            +footer
