extends parents/container

block content
    +flash
    +title("Add a New Password")
    br
    .col-4
        +form("post", "password")
            +datalist("appName", "text", "Site domain (ex: google.com)")
            br
            +input("username", "text", "Username")
            br
            +input("password", "password", "Password")
            br
            +button("Add password", "fa-solid fa-plus", "btn-success", "submit")

