extends parents/container

block content
    +title("Add a New Password")
    br
    .col-4
        +form("post", "/")
            +datalist("appName", "text", "Application name")
            br
            +input("password", "password", "Password")
            br
            +button("Add password", "fa-solid fa-plus", "btn-success", "submit")

