extends parents/container

block content
    +button-small-link("Add password", "fa-solid fa-plus", "sticky btn-success", "add-password", "button")
    +button-small-link("Save as .CSV", "fas fa-download", "sticky-below", "passwords", "button")
    .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800 See Your Passwords
    .col-10
        +flash()
        -empty = true
        each password in passwords
            -empty = false
            +card-image(password["domain"], password["imgPath"], password["password"], password["username"], password["id"])
        if (empty)
            h1 You currently don't have any passwords

    +deleteModal
