extends parents/container

block content
    .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800 See Your Passwords
        +button-small("Add password", "fa-solid fa-plus", "sticky btn-success", "add-password", "button")
        +button-small("Save as .CSV", "fas fa-download", "sticky-below", "export", "button")
    .col-10
        //+card-image (name, "", "password")
        //lock.png

        +card-image("Netflix", "netflix.jpg", "")
        +card-image("Google", "google.png", "")
        +card-image("Github", "github.png", "")
        +card-image("Spotify", "spotify.png", "")
        +card-image("Facebook", "facebook.png", "")