extends parents/container

block content
    +flash
    +title("Manage Profile")
    br
    +card("Modify Password")
        +form("put", "profile/password")
            .row
                .col-4
                    +input("oldPassword", "password", "Old password", "1")
                    br
                    +input("newPassword", "password", "New password", "2")
                    br
                    +button("Confirm password change", "fa-solid fa-check", "btn-success", "4", "submit")

                .col-4.my-auto
                    +input("newPasswordConfirm", "password", "Confirm new password", "3")

    +card("Activate MFA")
        .row
            .col-4
                +card-no-header
                    +title("Google authenticator").text-center
                    hr
                    .row.justify-content-center
                        if activated["google"]
                            +form("delete", "/profile/authenticator")
                                +button("Remove", "fa-solid fa-minus", "btn-danger", "submit")
                        else
                            +button-link("Activate", "fa-solid fa-plus", "/profile/authenticator", "btn-info")
            .col-4
                +card-no-header
                        +title("Email").text-center
                        hr
                        .row.justify-content-center
                            if activated["email"]
                                +form("delete", "/profile/email-mfa")
                                    +button("Remove", "fa-solid fa-minus", "btn-danger", "submit")
                            else
                                +form("post", "/profile/email-mfa")
                                    +button("Activate", "fa-solid fa-plus", "btn-info", "submit")
            .col-4
                +card-no-header
                        +title("Phone").text-center
                        hr
                        if activated["phone"]
                            .row.mx-1.justify-content-between
                                +form("delete", "/profile/phone-mfa").mx-auto
                                    +button("Remove", "fa-solid fa-minus", "btn-danger", "submit")
                        else
                            +form("post", "/profile/phone-mfa").row.mx-1.justify-content-between
                                +input("phone_nb", "text", "Enter a phone number", "", false)
                                +button("Activate", "fa-solid fa-plus", "btn-info", "submit")

    +card("Active Connections")
         +title("No active connections")
         //either table or this, send boolean here (true -> connections, else no connections)