extends parents/container

block content
    +flash
    +title("Manage Profile")
    br
    +card("Modify Password")
        +form("put", "profile/password")
            .row
                .col-4
                    +input("oldPassword", "password", "Old password", "1")
                    br
                    +input("newPassword", "password", "New password", "2")
                    br
                    +button("Confirm password change", "fa-solid fa-check", "btn-success", "4", "submit")

                .col-4.my-auto
                    +input("newPasswordConfirm", "password", "Confirm new password", "3")

    +card("Activate 2FA")

    +card("Active Connections")